div{
    border: 8px solid rgb(38, 107, 38);
    padding: 20px;
    margin: 15px;
    background-color:rgb(245, 248, 245) ;
}
p{
    color: rgb(28, 43, 34);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
h1{
    text-align: center;
    text-shadow: 2px 2px rgb(113, 165, 113);
    font-family: 'Freestyle Script';
    font-size: 350%;
}
table th , td{
    border: 2px solid;
}
\\th:hover{
    color: aquamarine;
}\\